ul {
    display: inline-table;
    list-style: none;
}

li,
label {
    padding: 5px;
    margin-left: 5%;
    font-size: large;
}

label {
    text-decoration: underline;
    font-size: x-large;
}

a {
    font-size: x-large;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: darkred;
    display: inline;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 600px) {
    #definitions {
        display: none;
    }

    li,
    label {
        padding: 3px;
        font-size: medium;
    }

    label {
        font-size: large;
    }

    ul {
        display: inline-table;
        list-style: none;
    }

    a {
        font-size: large;
    }
}

p {
    display: inline;
    font-size: large;
}

#guessed {
    text-align: right;
}

div {
    display: block;
}

#form-block {
    max-width: 600px;
    max-height: 600px;
    align-self: center;
    margin: auto;
    margin-top: 12%;
    border: 2px solid black;
    padding: 2%;
    display: none;
}

#test-choice {
    text-align: center;
    padding: 10px;
}

input {
    margin: 5px;
}

button {
    font-size: large;
    margin: 5px;
}

select {
    font-size: medium;
    margin: 5px;
}

#congratulation-block {
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 12%;
    border: 2px solid black;
    max-width: 600px;
    max-height: 600px;
    display: none;
}

#word-block {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 410px;
}

table, tr, td {
    padding: 5px;
    font-size: large;
    text-align: left;
}

#word-table {
    margin: 0px auto;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}

.name {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}
